/*------------------------------------*\
    $HELPER CLASSES
\*------------------------------------*/


.no-pad {
	padding: 0!important;
}

.no-margin {
	margin: 0!important;
}

.margin-top {margin-top: 2*$pad;}

.margin-bottom {margin-bottom: 2*$pad;}

.padding-top {padding-top: 2*$pad;}

.padding-bottom {padding-bottom: 2*$pad;}

.text-right {
	text-align: right!important;
}

.text-center {
	text-align: center!important;
}

.relative {
	position: relative!important;
}

.absolute {
	position: absolute!important;
}

.vert-center {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

@include bootstrapify(flex, (
	("display", -webkit-box),
	("display", -webkit-flex),
	("display", -ms-flexbox),
	("display",         flex))
)