/*------------------------------------*\
    $HELPER CLASSES
\*------------------------------------*/


.no-pad {
	padding: 0!important;
}

.no-margin {
	margin: 0!important;
}

.margin-top {
	margin-top: $margin*2;
}

.margin-bottom {
	margin-bottom: $margin*2;
}

.padding-top {
	padding-top: $pad*2;
}

.padding-bottom {
	padding-bottom: $pad*2;
}

.text-right {
	text-align: right!important;
}

.text-center {
	text-align: center!important;
}

.relative {
	position: relative!important;
}

.absolute {
	position: absolute!important;
}

.fright {
	float: right;
}

.vert-center {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%))
}

@include bootstrapify(flex, (
	("display", -webkit-box),
	("display", -webkit-flex),
	("display", -ms-flexbox),
	("display",         flex))
)