/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Colors
$white 			: #EDEDED;
$black 			: #333;
$dim 			: rgba(0,0,0,0.5);
$lit 			: rgba(255,255,255,0.5);
$clear			: rgba(0,0,0,0);

$dark-primary	: #49516F;
$dark-secondary	: #1A2026;
$light-primary	: #A4CDEB;
$light-secondary: #9799CA;
$light-tert		: #D0CCD0;

$success		: #70AE6E;
$warning		: #FFC13D;
$error			: #9E2B25;


// Typography
$font-size		: 18px;
$font-aspect	: 1.25;
$line-height	: $font-size*$font-aspect;
$font-color		: $black;
$font-primary	: 'Arimo', sans-serif;
$font-secondary	: 'Vollkorn', serif;

// Spacing
$pad 			: 1em*$font-aspect/2;
$border-width	: 1px;
$gutter			: 15px;

// Boostrap break points
// note, xs is default and thus not defined
$screen-sm-min	: 768px;
$screen-md-min	: 992px;
$screen-lg-min	: 1200px;

// transition speeds
$fast 			: 0.25s;
$normal-speed	: 0.5s;
$slow			: 1.5s;