/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Colors
$white 			: #fff;
$black 			: #000;
$dim 			: rgba(0,0,0,0.75);
$dim-half		: rgba(0,0,0,0.5);
$lit 			: rgba(255,255,255,0.5);
$clear			: rgba(0,0,0,0);
$success		: #85bb65;
$warning		: #eaab00;
$error			: #cd4354;

$primary-color 		: #4C4C4C;
$primary-dark 		: $black;
$primary-light 		: #A5A5A5;

$secondary-color	: #EAAB00;

$header-back-color	: $primary-color;


// Typography
$font-size		: 18px;
$font-aspect	: 1.24;
$line-height	: $font-size*$font-aspect;
$font-color		: $primary-color;

// Spacing
$margin 		: $line-height/2;
$pad 			: $line-height/2;
$border-width	: 2px;
$gutter			: 15px;
$gutter-thin	: 5px;

// Boostrap break points
// note, xs is default and thus not defined
$screen-sm-min	: 768px;
$screen-md-min	: 992px;
$screen-lg-min	: 1200px;

// transition speeds
$fast 			: 0.25s;
$normal-speed	: 0.4s;
$slow			: 0.7s;